.flex-row {
  display:flex;
  flex-direction: row; align-items: center; width: 100%;
}
.title-style {
  font-size: 15px;
  color: red;
}
.title-style:hover {
  font-size: 50px;
  color: blue;}
/*test */
body {
  background-color: blue;
}
